$colors: (
	"black": hsla(0, 0%, 0%, 0.842),
	"blue-electric": #1F53C5,
	"dark-blue": #24303C,
	"green": #4DAD5B,
	"grey-blue": rgb(206, 206, 226),
	"grey": rgb(98, 98, 102),
	"light-grayish": #F2F2F2,
	"orange": #EE6B2F,
	"pale-orange": hsl(25, 100%, 94%),
	"very-dark-blue": rgb(5, 2, 49),
	"white": hsl(0, 0%, 100%),
    "dark-red": rgb(74, 2, 2),
	
);